@page
@model AboutModel
@{
    ViewData["Title"] = "About page";
}

<div class="text-center">
    <h1 class="display-4">Welcome About Page</h1>
    <p>This page is about the course Software Development for the Web Lab7.<br> In this lab we need to use C# language, I think it looks like Java language.<br> I hope I can do well in this lab~
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
