<html>
<head>
  <link href= "css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <h1 class="lotto_header">Welcome to Lotto Result Page!</h1>
      <div class="lotto_wrapper">
        <h3> Here are the drwa lotto numbers</h3>
      <table id="draw" border="1">
        <tr>
          <th>Lotto1</th>
          <th>Lotto2</th>
          <th>Lotto3</th>
          <th>Lotto4</th>
          <th>Lotto5</th>
          <th>Lotto6</th>
          <th>Lotto7</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
      <h3> Here are the guess lotto numbers</h3>
      <table id="player" border="1">
        <tr>
          <th>Lotto1</th>
          <th>Lotto2</th>
          <th>Lotto3</th>
          <th>Lotto4</th>
          <th>Lotto5</th>
          <th>Lotto6</th>
          <th>Lotto7</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
      </div>
      <p class="lotto_text">Total matches: <%= correctNumbers %>.<p>
      <script type="text/javascript">
        var draw = [<%= drwanNumbers %>];
        console.log(draw);
        var table = document.getElementById('draw');
        var tds = table.getElementsByTagName('td');
        for (let i = 0; i < tds.length; i++) {
            tds[i].innerHTML = draw[i];
        }
        var player = [<%= ownNumbers %>];
        console.log(player);
        var tablePlayer = document.getElementById('player');
        var tdsPlayer = tablePlayer.getElementsByTagName('td');
        for (let i = 0; i < tdsPlayer.length; i++) {
            tdsPlayer[i].innerHTML = player[i];
        }
      </script>

    </body>
    </html>
